<% provide(:title, 'About') %>
<h1>About</h1>
<p>
  In the aftermath of Reddit banning Quickmeme due to vote manipulation
  Easymeme was created to provide a sane and open source meme creation
  alternative.
</p>
